@page
@model studentexpat.com.Pages.admin.subcategories.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h1>Subcategory</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.SubCategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategory.SubCategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.Subcategory1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategory.Subcategory1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategory.Category.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategory.Language.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Subcategory.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
