@page
@model studentexpat.com.Pages.admin.programs.DetailsModel

<div>
    <h1>Programs</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Programs.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programs.Tuition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.Tuition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programs.ShortDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.ShortDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programs.FullDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.FullDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programs.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.Language.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programs.ProgramType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.ProgramType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programs.School)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.School.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Programs.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts {
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea.tinymce' });</script>
}
